
/* themes */

.ashes-dark {
    --base-background: #1c2023;
    --base-foreground: #c7ccd1;
    --command-color-complementary: var(--base-background);
    --command-color-highlight-foreground: var(--base-foreground);
    --command-color-lightness: 68%;
    --command-color-saturation: 25%;
    --help-command-background: #272e32;
}

.gruvbox-dark {
    --base-background: #282828;
    --base-foreground: #ebdbb2;
    --command-color-complementary: #fbf1c7;
    --command-color-highlight-foreground: var(--base-background);
    --command-color-lightness: 45%;
    --command-color-saturation: 34%;
    --help-command-background: #3c3836;
}

.lovelace-dark {
    --base-background: #1d1f28;
    --base-foreground: #fdfdfd;
    --command-color-complementary: var(--base-foreground);
    --command-color-highlight-foreground: var(--base-background);
    --command-color-lightness: 53%;
    --command-color-saturation: 57%;
    --help-command-background: #282a36;
}

.nord-dark {
    --base-background: #2e3440;
    --base-foreground: #d8dee9;
    --command-color-complementary: #fff;
    --command-color-highlight-foreground: var(--help-command-background);
    --command-color-lightness: 56%;
    --command-color-saturation: 42%;
    --help-command-background: #3b4252;
}

.ocean-light {
    --base-background: #eff1f5;
    --base-foreground: #4f5b66;
    --command-color-complementary: var(--base-background);
    --command-color-highlight-foreground: var(--base-foreground);
    --command-color-lightness: 56%;
    --command-color-saturation: 32%;
    --help-command-background: #e4e6ea;
}

.tilde-dark {
    --base-background: #111;
    --base-foreground: #ddd;
    --command-color-complementary: #eee;
    --command-color-highlight-foreground: var(--base-background);
    --command-color-lightness: 50%;
    --command-color-saturation: 40%;
    --help-command-background: #222;
}

/* root variables */

:root {
    --base-border-radius: 2px;
    --base-font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue,
        Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
    --base-font-size: 17px;
    --base-font-weight-black: 900;
    --base-font-weight-bold: 700;
    --base-font-weight-normal: 400;
    --clock-font-size: 3rem;
    --command-height: 4rem;
    --command-padding: calc(var(--command-height) / 2 - 1ch / 2);
    --help-grid-columns: 1;
    --help-grid-gap: 1rem;
    --search-input-font-size: 2rem;
    --search-input-text-align: left;
    --suggestion-height: 3rem;
    --suggestion-padding: calc(var(--suggestion-height) / 2 - 1ch / 2);
    --suggestions-flex-direction: column;
}

@media (min-width: 600px) {
    :root {
        --clock-font-size: 5rem;
        --help-grid-columns: 2;
    }
}

@media (min-width: 900px) {
    :root {
        --clock-font-size: 7rem;
        --help-grid-columns: 3;
        --search-input-font-size: 3rem;
        --suggestions-flex-direction: row;
    }
}

@media (min-width: 1400px) {
    :root {
        --help-grid-columns: 5;
    }
}

/* reset */

* {
    box-sizing: border-box;
}

html {
    font-family: var(--base-font-family);
    font-size: var(--base-font-size);
    font-weight: var(--base-font-weight-normal);
}

body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: var(--base-background);
    color: var(--base-foreground);
}

input,
button {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    background: transparent;
    color: inherit;
    font-family: var(--base-font-family);
    font-weight: var(--base-font-weight-normal);
    font-size: 1rem;
}

input,
button,
input:focus,
button:focus {
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
a:focus {
    color: inherit;
    outline: 0;
}

/* reusable classes */

.center {
    display: flex;
    width: 100%;
    height: 100%;
}

.center>* {
    margin: auto;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

/* main styles */

.clock {
    display: block;
    font-size: var(--clock-font-size);
    cursor: pointer;
}

.help {
    background: var(--base-background);
    visibility: hidden;
    z-index: 1;
}

body.help .help {
    visibility: visible;
}

body.form .help {
    visibility: hidden;
}

.command-list {
    display: grid;
    grid-gap: var(--help-grid-gap);
    grid-template-columns: repeat(var(--help-grid-columns), 1fr);
    padding: 6rem 0;
}

.command {
    display: flex;
    background: var(--help-command-background);
    border-radius: var(--base-border-radius);
    opacity: 0.9;
    line-height: var(--command-height);
    text-decoration: none;
}

.command:hover {
    opacity: 1;
}

.command:hover .command-key {
    background: transparent;
}

.command-key {
    width: var(--command-height);
    border-radius: var(--base-border-radius);
    color: var(--command-color-complementary);
    font-weight: var(--base-font-weight-bold);
    text-align: center;
}

.command-name {
    padding: 0 var(--command-padding);
}

.search-form {
    background: var(--base-background);
    visibility: hidden;
}

body.form .search-form {
    visibility: visible;
}

body.color .search-form {
    color: var(--command-color-complementary);
}

.search-form-content {
    width: 100%;
}

.search-input {
    width: 100%;
    font-size: var(--search-input-font-size);
    font-weight: var(--base-font-weight-black);
    text-align: center;
}

.search-suggestions {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: var(--suggestions-flex-direction);
    flex-wrap: wrap;
    margin-top: 2rem;
    overflow: hidden;
}

body.suggestions .search-suggestions {
    display: flex;
}

.search-suggestion {
    border-radius: var(--base-border-radius);
    cursor: pointer;
    font-weight: var(--base-font-weight-bold);
    height: var(--suggestion-height);
    padding: 0 var(--suggestion-padding);
    white-space: nowrap;
}

.search-suggestion.highlight {
    background: var(--base-foreground);
    color: var(--base-background);
}

body.color .search-suggestion.highlight {
    background: var(--command-color-complementary);
    color: var(--command-color-highlight-foreground);
}

.search-suggestion-match {
    font-weight: var(--base-font-weight-normal);
}